.logo {
    display: block;
    margin: auto;
    width: 50px;
    height: 50px;
}

.container {
    max-width: 955px;
    background-color: rgb(155, 245, 155);
    margin: auto;
    height: 60vh;
    overflow-y: auto;
    overflow-x: auto;
}

.message {
    background-color: rgb(253, 253, 253);
    width: 25%;
    padding: 10px;
    margin: 17px 12px;
    border: 2px solid black;
    /* border-radius: 10px; */
}

.left {
    float: left;
    clear: both;
}

.right {
    float: right;
    clear: both;
}

.body {
    height: 100vh;
}

#send-container {
    display: block;
    margin: auto;
    text-align: center;
    max-width: 985px;
    width: 100%;
}

#messageInp {
    width: 92%;
    border: 2px solid black;
    height: 34px;
}

.btn {
    cursor: pointer;
    border: 2px solid black;
    height: 36px;
}

#imagefile #btnSendImg.filebutton{
    display: block;
    margin: auto;
    text-align: center;
    cursor: pointer;
    border: 2px solid black;
    height: 36px;
}

input[type="file" i] {
    appearance: none;
    background-color: initial;
    cursor: default;
    align-items: baseline;
    color: inherit;
    text-overflow: ellipsis;
    white-space: pre;
    text-align: start !important;
    padding: initial;
    border: initial;
    overflow: hidden !important;
}

.limagediv{
    float:left;
    clear:both;
    /* padding: 5px; */
}

.rimagediv{
    /* padding: 5px; */
    float:right;
    clear:both;
}